@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */


/* COMMON STYLING */

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
 width: 84.444%;
 margin: 0 auto;
 max-width: 1500px;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }
.capitalize { text-transform: capitalize; }

.transition {
 -webkit-transition: all .5s ease-in-out;
 -moz-transition: all .5s ease-in-out;
 -ms-transition: all .5s ease-in-out;
 -o-transition: all .5s ease-in-out;
 transition: all .5s ease-in-out;
}

a {
 display: inline-block;
 text-decoration: none;
 outline: none;
}

/* HEADER */
header {
  position: relative;
  background-color: #fffdff;
}

header .wrapper {
  width: 100%;
  padding: 46px 0 63px;
}

h1 a { text-indent: -9999px; }
h1 img { float: left; }
.ham,
.cross-nav { display: none; }

h1 {
  width: 14.82%;
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translateX(-50%);
}

nav li {
  display: inline-block;
  margin-left: -5px;
  margin-right: 25px;
}

nav li:first-child { margin-left: 22.08%; }
nav li:last-child { margin: 0; }
nav li:nth-child(4) { margin-left: 21.75%; }

nav li a {
  font-size: 13px;
  font-weight: 700;
  color: #110f0a;
  letter-spacing: -0.3px;
  word-spacing: 1.2px;
}

nav li a:hover {
  text-decoration: underline;
}

/* BANNER */

.banner .wrapper {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

/* showcase */
.showcase {
  padding: 117px 0;
}

.highlights,
.feature-story {
  margin-left: -5px;
  width: 45.488%;
  display: inline-block;
}

.highlights { margin-right: 9.0239%; }
.feature-story { margin-left: 0; }

.showcase-title {
  margin-bottom: 65px;
  font-size: 43px;
  font-weight: 800;
  color: #86755b;
}

/* STORIES */
.stories {
  padding-bottom: 144px;
  text-align: center;
}

.stories h2 {
  margin-bottom: 64px;
  color: #86755b;
  font-size: 43px;
  font-weight: 800;
  text-align: center;
}

.stories li {
  width: 29%;
  margin: 0 0 80px -5px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.stories-image-wrapper:hover {
  -webkit-box-shadow: 6px 6px 20px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 20px 3px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 20px 3px rgba(0,0,0,0.75);
}

.stories li:nth-child(3n-1) { margin: 0 6.5%; }

.stories-image-wrapper {
  width: 100%;
  margin-bottom: 26px;
}

.stories-image-wrapper img {
  width: 100%;
}

.stories li h3 {
  margin-bottom: 10px;
  color: #312936;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: -0.3px;
  word-spacing: 1.2px;
}

.stories li > span {
  margin-bottom: 22px;
  display: block;
  color: #cbc8c9;
  font-size: 11px;
  font-style: italic;
  font-weight: 800;
}

.stories li p {
  color: #4b473e;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.stories .wrapper > span {
  width: 28.36%;
  margin: 0 auto;
  padding: 25px 6.20%;
  text-align: center;
  background-color: #000;
  cursor: pointer;
  color: #e4e6e6;
}

.stories .wrapper > span:hover {
  color: #125691;
}

/* FOOTER */

footer {
  padding: 118px 0 124px 0;
  background-color: #000;
}

footer .wrapper {
  display: flex;
}

footer figure {
  width: 10.3%;
  margin-right: 38px;
}

footer figure img {
  width: 100%;
}

.about {
  width: 11%;
  margin-right: 20px;
}

.about li {
  margin-bottom: 14px;
}

.about li a {
  color: #eaf7f8;
  font-size: 13px;
  font-weight: 600;
}

.about li a:hover {
  text-decoration: underline;
}

.follow {
  width: 44%;
}

.follow h4 {
  margin-bottom: 14px;
  color: #eaf7f8;
  font-size: 12px;
  font-weight: 600;
}

.follow a {
  display: inline-block;
  font-size: 0;
}

.follow a::before {
  content: "\f16d";
  font-size: 23px;
  color: #FDF9F3;
}

.follow a::before:hover {
  color: #125691;
}

.follow li { margin-bottom: 24px; }
.follow li:last-child { margin-bottom: 0; }
.follow li:first-child a:first-child { margin-right: 8px; }
.follow li:last-child  a:last-child { margin-bottom: 0; }

.follow label {
  color:
}

address {
  width: 18%;
  color: #70665d;
  font-size: 13px;
  font-weight: 700;
}

.brands {
  width: 18%;
}

.brands li {
  width: 100%;
  margin-bottom: 26px;
}

.brands li:last-child { margin-bottom: 0; }

.brands li img {
  width: 100%;
}
